# Cache do Python
__pycache__/
*.py[cod]
.pytest_cache/

# Ambientes virtuais
.venv/
venv/
env/

# Resultados gerados pelo processamento
# /resultados/

# Configurações locais dos editores
.vscode/
.idea/

# Arquivos do sistema
.DS_Store
Thumbs.db
Desktop.ini